node-red/imu_flow.json
[{"id":"d6e3707b.71cc9","type":"tab","label":"Inernal navigation","disabled":false,"info":""},{"id":"b47399de.b9d998","type":"serial in","z":"d6e3707b.71cc9","name":"","serial":"71f1a6c0.3552a8","x":130,"y":100,"wires":[["7cbe8080.2db64","e3f642c9.49e94","39136a8f.1e8646","e27a7441.44e238","1fc41e3d.17c032","27bc3e90.a7d472"]]},{"id":"7cbe8080.2db64","type":"switch","z":"d6e3707b.71cc9","name":"MAG_LSM303AGR[mag/mgauss]","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"LSM303AGR[mag/mgauss]","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":200,"wires":[["c4ab9da.7e9306"]]},{"id":"c4ab9da.7e9306","type":"function","z":"d6e3707b.71cc9","name":"","func":"var LSM303AGR_mag_mgauss = msg.payload.split(\",\");\nflow.set(\"LSM303AGR_mag_mgauss\", LSM303AGR_mag_mgauss);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":220,"wires":[[]]},{"id":"e3f642c9.49e94","type":"switch","z":"d6e3707b.71cc9","name":"ACC_LSM6DSL[acc/mg]","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"LSM6DSL[acc/mg]","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":100,"wires":[["602da7ff.9a8978"]]},{"id":"39136a8f.1e8646","type":"switch","z":"d6e3707b.71cc9","name":"GYR_LSM6DSL[gyro/mdps]","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"LSM6DSL[gyro/mdps]","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":40,"wires":[["5fa6d870.5698f8"]]},{"id":"5fa6d870.5698f8","type":"function","z":"d6e3707b.71cc9","name":"","func":"var LSM6DSL_gyro_mdps = msg.payload.split(\",\");\nflow.set(\"LSM6DSL_gyro_mdps\", LSM6DSL_gyro_mdps)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":40,"wires":[[]]},{"id":"602da7ff.9a8978","type":"function","z":"d6e3707b.71cc9","name":"","func":"var LSM6DSL_acc_mg = msg.payload.split(\",\");\nflow.set(\"LSM6DSL_acc_mg\", LSM6DSL_acc_mg)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":100,"wires":[["a5841a91.09e238"]]},{"id":"a5841a91.09e238","type":"function","z":"d6e3707b.71cc9","name":"","func":"var LSM6DSL_acc_mg = flow.get(\"LSM6DSL_acc_mg\");\nvar LSM6DSL_gyro_mdps = flow.get(\"LSM6DSL_gyro_mdps\");\nvar LSM303AGR_mag_mgauss = flow.get(\"LSM303AGR_mag_mgauss\");\nvar LSM303AGR_acc_mg = flow.get(\"LSM303AGR_acc_mg\");\n\nvar HTS221_tempC_humP = flow.get(\"HTS221_tempC_humP\");\nvar LPS22HB_tempC_pressMbar = flow.get(\"LPS22HB_tempC_pressMbar\");\n\nvar mag_mgauss = [];\nvar gyro_mdps = [];\nvar acc_mg_LSM6DSL = [];\nvar acc_mg_LSM303AGR = [];\n\nfor (var i = 1; i< LSM303AGR_acc_mg.length; i++){\n    mag_mgauss.push(parseFloat(LSM303AGR_mag_mgauss[i])/100)\n    gyro_mdps.push(parseFloat(LSM6DSL_gyro_mdps[i])/1000000)\n    acc_mg_LSM6DSL.push(parseFloat(LSM6DSL_acc_mg[i])/100)\n    acc_mg_LSM303AGR.push(parseFloat(LSM303AGR_acc_mg[i])/100)\n}\n\nvar temp_hum_HTS221 = []\n// var hum_HTS221 = []\nvar temp_press_LPS22HB = []\n// var press_LPS22HB = []\n\nfor (let i = 1; i< HTS221_tempC_humP.length; i++){\n    temp_hum_HTS221.push(parseFloat(HTS221_tempC_humP[i]))\n    temp_press_LPS22HB.push(parseFloat(LPS22HB_tempC_pressMbar[i]))\n}\n\nvar magnetometer = {payload: mag_mgauss, topic: \"magnetometer\"}\nvar gyroscope = {payload: gyro_mdps, topic: \"gyroscope\"}\nvar accelerometer_LSM6DSL = {payload: acc_mg_LSM6DSL, topic: \"accelerometer_LSM6DSL\"}\nvar accelerometer_LSM303AGR = {payload: acc_mg_LSM303AGR, topic: \"accelerometer_LSM303AGR\"}\n\nvar temp_hum = {payload: temp_hum_HTS221, topic: \"HTS221\"}\nvar temp_press = {payload: temp_press_LPS22HB, topic: \"LPS22HB\"}\n\nreturn [magnetometer, gyroscope, accelerometer_LSM6DSL, accelerometer_LSM303AGR, temp_hum, temp_press];","outputs":6,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":120,"wires":[["cb976372.9eef7"],["d41648df.f77ea8"],["e927bc5f.d7f07"],["5d9aa9b7.901ad8"],["bb772033.efbaf","b5fd93e2.1c73"],["c6ae7046.a77d3","c495fd2d.a05ac"]]},{"id":"9b57d64.29fcc28","type":"mqtt in","z":"d6e3707b.71cc9","name":"ACC","topic":"Beck/sensors/Accelerometer/#","qos":"0","datatype":"auto","broker":"c7a325ff.1e2d18","nl":false,"rap":false,"x":130,"y":440,"wires":[["6b0ac655.4fbe28"]]},{"id":"cb976372.9eef7","type":"mqtt out","z":"d6e3707b.71cc9","name":"","topic":"magnetometer_LSM303AGR","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d24840df.e3ff4","x":1120,"y":60,"wires":[]},{"id":"137415af.0a186a","type":"aedes broker","z":"d6e3707b.71cc9","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":150,"y":360,"wires":[[]]},{"id":"d41648df.f77ea8","type":"mqtt out","z":"d6e3707b.71cc9","name":"","topic":"gyroscope_LSM6DSL","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d24840df.e3ff4","x":1140,"y":120,"wires":[]},{"id":"e927bc5f.d7f07","type":"mqtt out","z":"d6e3707b.71cc9","name":"","topic":"accelerometer_LSM6DSL","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d24840df.e3ff4","x":1150,"y":180,"wires":[]},{"id":"6b0ac655.4fbe28","type":"join","z":"d6e3707b.71cc9","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":290,"y":440,"wires":[["3c1def71.4c21f"]]},{"id":"3c1def71.4c21f","type":"function","z":"d6e3707b.71cc9","name":"","func":"flow.set(\"accelerometer_x\", parseFloat(msg.payload[\"Beck/sensors/Accelerometer/x\"]))\nflow.set(\"accelerometer_y\", parseFloat(msg.payload[\"Beck/sensors/Accelerometer/y\"]))\nflow.set(\"accelerometer_z\", parseFloat(msg.payload[\"Beck/sensors/Accelerometer/z\"]))\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":460,"wires":[[]]},{"id":"20561499.e97adc","type":"mqtt in","z":"d6e3707b.71cc9","name":"MAG","topic":"Beck/sensors/Magnetometer/#","qos":"0","datatype":"auto","broker":"c7a325ff.1e2d18","nl":false,"rap":false,"x":130,"y":500,"wires":[["9282a0b0.55ca4"]]},{"id":"9282a0b0.55ca4","type":"join","z":"d6e3707b.71cc9","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":270,"y":500,"wires":[["514a970.7b73768"]]},{"id":"514a970.7b73768","type":"function","z":"d6e3707b.71cc9","name":"","func":"flow.set(\"magnetometer_x\", parseFloat(msg.payload[\"Beck/sensors/Magnetometer/x\"]))\nflow.set(\"magnetometer_y\", parseFloat(msg.payload[\"Beck/sensors/Magnetometer/y\"]))\nflow.set(\"magnetometer_z\", parseFloat(msg.payload[\"Beck/sensors/Magnetometer/z\"]))\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":500,"wires":[["7d6034cf.31063c"]]},{"id":"a55559c9.06ad38","type":"mqtt in","z":"d6e3707b.71cc9","name":"GYR","topic":"Beck/sensors/Gyroscope/#","qos":"0","datatype":"auto","broker":"c7a325ff.1e2d18","nl":false,"rap":false,"x":130,"y":560,"wires":[["fd3c0188.8fb57"]]},{"id":"fd3c0188.8fb57","type":"join","z":"d6e3707b.71cc9","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":270,"y":560,"wires":[["e57b9f7a.405ac"]]},{"id":"e57b9f7a.405ac","type":"function","z":"d6e3707b.71cc9","name":"","func":"flow.set(\"gyroscope_x\", parseFloat(msg.payload[\"Beck/sensors/Gyroscope/x\"]))\nflow.set(\"gyroscope_y\", parseFloat(msg.payload[\"Beck/sensors/Gyroscope/y\"]))\nflow.set(\"gyroscope_z\", parseFloat(msg.payload[\"Beck/sensors/Gyroscope/z\"]))\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":560,"wires":[["6a299d4f.423094"]]},{"id":"6a299d4f.423094","type":"debug","z":"d6e3707b.71cc9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":600,"wires":[]},{"id":"7d6034cf.31063c","type":"function","z":"d6e3707b.71cc9","name":"","func":"\nvar mag = [flow.get(\"magnetometer_x\"), flow.get(\"magnetometer_y\"), flow.get(\"magnetometer_z\")]\nvar gyr = [flow.get(\"gyroscope_x\"), flow.get(\"gyroscope_y\"), flow.get(\"gyroscope_z\")]\nvar acc = [flow.get(\"accelerometer_x\"), flow.get(\"accelerometer_y\"), flow.get(\"accelerometer_z\")]\n\n\nvar magnetometer = {payload: mag, topic: \"magnetometer\"}\nvar gyroscope = {payload: gyr, topic: \"gyroscope\"}\nvar accelerometer = {payload: acc, topic: \"accelerometer\"}\n\n\nreturn [magnetometer, gyroscope, accelerometer];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":480,"wires":[["56ada2f5.70129c","8b6871df.6b011"],["64b736aa.73b858"],["28b46e3d.e01b02","51d8a51d.6750fc"]]},{"id":"28b46e3d.e01b02","type":"debug","z":"d6e3707b.71cc9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":680,"wires":[]},{"id":"56ada2f5.70129c","type":"debug","z":"d6e3707b.71cc9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":400,"wires":[]},{"id":"8b6871df.6b011","type":"mqtt out","z":"d6e3707b.71cc9","name":"","topic":"magnetometer_phone","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d24840df.e3ff4","x":900,"y":420,"wires":[]},{"id":"64b736aa.73b858","type":"mqtt out","z":"d6e3707b.71cc9","name":"","topic":"gyroscope_phone","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d24840df.e3ff4","x":890,"y":480,"wires":[]},{"id":"51d8a51d.6750fc","type":"mqtt out","z":"d6e3707b.71cc9","name":"","topic":"accelerometer_phone","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d24840df.e3ff4","x":900,"y":540,"wires":[]},{"id":"e27a7441.44e238","type":"switch","z":"d6e3707b.71cc9","name":"ACC_LSM303AGR[acc/mg]","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"LSM303AGR[acc/mg]","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":160,"wires":[["d1ca17ab.c26f48"]]},{"id":"d1ca17ab.c26f48","type":"function","z":"d6e3707b.71cc9","name":"","func":"var LSM303AGR_acc_mg = msg.payload.split(\",\");\nflow.set(\"LSM303AGR_acc_mg\", LSM303AGR_acc_mg);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":160,"wires":[[]]},{"id":"5d9aa9b7.901ad8","type":"mqtt out","z":"d6e3707b.71cc9","name":"","topic":"accelerometer_LSM303AGR","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d24840df.e3ff4","x":1140,"y":240,"wires":[]},{"id":"1fc41e3d.17c032","type":"switch","z":"d6e3707b.71cc9","name":"HTS221[tempC_humP]","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"HTS221[tempC_humP]","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":260,"wires":[["61a17090.ac691"]]},{"id":"61a17090.ac691","type":"function","z":"d6e3707b.71cc9","name":"","func":"var HTS221_tempC_humP = msg.payload.split(\",\");\nflow.set(\"HTS221_tempC_humP\", HTS221_tempC_humP);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":260,"wires":[["7a797adc.6730f4"]]},{"id":"7a797adc.6730f4","type":"debug","z":"d6e3707b.71cc9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":220,"wires":[]},{"id":"27bc3e90.a7d472","type":"switch","z":"d6e3707b.71cc9","name":"LPS22HB[tempC_pressMbar]","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"LPS22HB[tempC_pressMbar]","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":320,"wires":[["4e3f8daa.1b5b54"]]},{"id":"4e3f8daa.1b5b54","type":"function","z":"d6e3707b.71cc9","name":"","func":"var LPS22HB_tempC_pressMbar = msg.payload.split(\",\");\nflow.set(\"LPS22HB_tempC_pressMbar\", LPS22HB_tempC_pressMbar);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":320,"wires":[[]]},{"id":"bb772033.efbaf","type":"ui_gauge","z":"d6e3707b.71cc9","name":"","group":"7f2e706b.95fee","order":1,"width":"3","height":"4","gtype":"wave","title":"Temp_HTS221","label":"C","format":"{{msg.payload[0]}}","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":400,"wires":[]},{"id":"b5fd93e2.1c73","type":"ui_gauge","z":"d6e3707b.71cc9","name":"","group":"7f2e706b.95fee","order":3,"width":"3","height":"4","gtype":"donut","title":"Hum_HTS221","label":"%","format":"{{msg.payload[1]}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":440,"wires":[]},{"id":"c6ae7046.a77d3","type":"ui_gauge","z":"d6e3707b.71cc9","name":"","group":"7f2e706b.95fee","order":2,"width":"3","height":"4","gtype":"wave","title":"Temp_LPS22HB","label":"C","format":"{{msg.payload[0]}}","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":500,"wires":[]},{"id":"c495fd2d.a05ac","type":"ui_gauge","z":"d6e3707b.71cc9","name":"","group":"7f2e706b.95fee","order":4,"width":"3","height":"4","gtype":"compass","title":"Press_LPS22HB","label":"Mbar","format":"{{msg.payload[1]}}","min":"900","max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1230,"y":540,"wires":[]},{"id":"2117f365.d4997c","type":"influxdb out","z":"d6e3707b.71cc9","influxdb":"9f40991b.831bf8","name":"","measurement":"measurements","precision":"","retentionPolicy":"","database":"inertial_sensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1890,"y":100,"wires":[]},{"id":"8d748b78.66ff48","type":"mqtt in","z":"d6e3707b.71cc9","name":"X","topic":"X","qos":"0","datatype":"auto","broker":"d24840df.e3ff4","nl":false,"rap":false,"x":1430,"y":260,"wires":[["fbd7314c.2fcd5"]]},{"id":"806497d3.ffdc68","type":"mqtt in","z":"d6e3707b.71cc9","name":"Y","topic":"Y","qos":"0","datatype":"auto","broker":"d24840df.e3ff4","nl":false,"rap":false,"x":1430,"y":320,"wires":[["ee997cd6.a2d36"]]},{"id":"e90662cf.78433","type":"mqtt in","z":"d6e3707b.71cc9","name":"Z","topic":"Z","qos":"0","datatype":"auto","broker":"d24840df.e3ff4","nl":false,"rap":false,"x":1430,"y":380,"wires":[["d5e18c05.47b32"]]},{"id":"da140e9a.64e8b","type":"debug","z":"d6e3707b.71cc9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1810,"y":180,"wires":[]},{"id":"fbd7314c.2fcd5","type":"function","z":"d6e3707b.71cc9","name":"","func":"flow.set(\"posX\", parseFloat(msg.payload))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":260,"wires":[[]]},{"id":"9e04e7fc.dddcf8","type":"function","z":"d6e3707b.71cc9","name":"","func":"msg.payload = {\n    \"posX\": flow.get(\"posX\"),\n    \"posY\": flow.get(\"posY\"),\n    \"posZ\": flow.get(\"posZ\"),\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1720,"y":320,"wires":[["da140e9a.64e8b","2117f365.d4997c"]]},{"id":"ee997cd6.a2d36","type":"function","z":"d6e3707b.71cc9","name":"","func":"flow.set(\"posY\", parseFloat(msg.payload))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":320,"wires":[["9e04e7fc.dddcf8"]]},{"id":"d5e18c05.47b32","type":"function","z":"d6e3707b.71cc9","name":"","func":"flow.set(\"posZ\", parseFloat(msg.payload))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":380,"wires":[[]]},{"id":"71f1a6c0.3552a8","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"c7a325ff.1e2d18","type":"mqtt-broker","name":"iot_lab","broker":"193.205.194.147","port":"10883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d24840df.e3ff4","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7f2e706b.95fee","type":"ui_group","name":"STM32","tab":"dc23f559.364cd8","order":1,"disp":true,"width":"6","collapse":false},{"id":"9f40991b.831bf8","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"inertial_sensors","name":"inertial sensors database","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"dc23f559.364cd8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]